{% extends "base_generic.html" %}

{% block content %}

{% if bookinstance_object.id %}
<h1>Book Instance</h1>
{% else %}
<h1>New Book Instance</h1>
{% endif %}

{% if bookinstance_object.id %}
<div><b>ID:</b> {{ bookinstance_object.id }}</div>
<div><b>Book:</b> <a href="{% url 'book-detail' bookinstance_object.book.pk %}">{{bookinstance_object.book.title}}</a></div>
<br>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>
{% endblock %}