{% extends "base_generic.html" %}

{% block content %}
  <h1>Renew: {{ book_instance.book.title }}</h1>
  <div><b>Borrower:</b> {{ book_instance.borrower }}</div>
  <div><b>UUID:</b> {{ book_instance.id }}</div>
  <div><b>Loan Status:</b> {{ book_instance.get_status_display }}</div>
  <div {% if book_instance.is_overdue %} class="text-danger"{% endif %} ><b>Due date:</b> {{ book_instance.due_back }}</div>
  <br>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
