{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book_detail.title }}</h1>
  {% if user.is_authenticated and perms.catalog.can_mark_returned %}
  <p><a href="{{ book_detail.get_absolute_url }}/update">Update</a> <a href="{{ book_detail.get_absolute_url }}/delete">Delete</a></p>
  {% endif %}

  <p><strong>Author:</strong> <a href="{{ book_detail.author.get_absolute_url }}">{{ book_detail.author }}</a></p>
  <p><strong>Summary:</strong> {{ book_detail.summary }}</p>
  <p><strong>ISBN:</strong> {{ book_detail.isbn }}</p>
  <p><strong>Language:</strong> {{ book_detail.language }}</p>
  <p><strong>Genre:</strong> {{ book_detail.genre.all|join:", " }}</p>
  <p><strong>SomeData:</strong> {{ some_data }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book_detail.bookinstance_set.all %}
      <hr />
      <p
        class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}
